<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<head th:replace="~{fragments :: head}"></head>
<body class="container">
<nav th:replace="~{fragments :: navBar}"></nav>

<p th:text="${errorMsg}" style="color:red;"></p>
<th:block th:each="error: ${errors}">
    <p th:text="${error.defaultMessage}" style="color:red;"></p>
</th:block>

<form method="post" action="/events/create">
    <div class="form-group">
        <label>Event Name
            <input type="text" name="name" class="form-control">
        </label>
    </div>
    <div class="form-group">
        <label>Event Description
            <input type="text" name="info" class="form-control">
        </label>
    </div>
    <div class="form-group">
        <label>Contact Email
            <input type="text" name="email" class="form-control">
        </label>
    </div>
    <br>
    <div class="form-group">
        <input type="submit" value="Create Event" class="btn btn-success">
    </div>
</form>
</body>
</html>