<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body class="container">
<nav th:replace="~{fragments :: navBar}"></nav>

<h3 th:unless="${events} and ${events.size()}">No events to delete!</h3>

<form th:if="${events} and ${events.size()}" method="post">>
    <th:block th:each="event : ${events}">
        <div class="form-check">
            <label>
                <span th:text="${event.name}"></span>
                <input type="checkbox" name="eventIds" th:value="${event.id}" class="form-check-input">
            </label>
        </div>
    </th:block>

    <input type="submit" value="Delete" class="btn btn-danger">
</form>

</body>
</html>