<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<head th:replace="~{fragments :: head}"></head>
<body class="container">
<nav th:replace="~{fragments :: navBar}"></nav>
<form method="post" th:action="@{/events/edit}">

    <div class="form-group">
        <label>Event Name
            <input type="text" name="name" class="form-control" th:value="${event.name}">
        </label>
    </div>
    <div class="form-group">
        <label>Event Description
            <input type="text" name="info" class="form-control" th:value="${event.info}">
        </label>
    </div>
    <div class="form-group">
        <label>Event Type
            <select th:field="${event.type}" >
                <option th:each="type : ${types}" th:value="${type}" th:text="${type.displayName}"></option>
            </select>
        </label>
    </div>
    <div class="form-group">
        <label>Contact Email
            <input type="text" name="email" class="form-control" th:value="${event.email}">
        </label>
    </div>
    <input type="hidden" th:value="${event.id}" name="eventId">
    <br>
    <div class="form-group">
        <input type="submit" value="Edit Event" class="btn btn-success">
        <input type="reset" value="Reset" class="btn btn-warning">
    </div>
</form>
</body>
</html>