<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body class="container">
<nav th:replace="~{fragments :: navBar}"></nav>
<table class="table table-striped">
    <thead>
    <tr th:unless="${events} and ${events.size()}">
        <th>No events to display! Add an event through this <a href="events/create">form</a></th>
    </tr>
    <tr th:if="${events} and ${events.size()}">
        <th>Event ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Location</th>
        <th>Contact Email</th>
        <th></th>
        <th></th>
    </tr>
    </thead>

    <tr th:each="event : ${events}">
        <td th:text="${event.id}">Event ID</td>
        <td th:text="${event.name}">Event name</td>
        <td th:text="${event.info}">Event description</td>
        <td th:replace="~{fragments :: address}"></td>
        <td th:text="${event.email}">Contact email</td>
        <!--        <td><img th:src="@{/pictures/class-memes.png}" class="img-fluid" alt="Memes from class"></td>-->
        <!--        <td><img th:src="@{/pictures/toad.jpeg}" style="max-height:200px" alt="Memes from class"></td>-->
<!--        <td th:replace="~{fragments :: eventPic}"></td>-->
        <td>
            <form method="get" th:action="@{/events/edit/{id}(id=${event.id})}">
                <input type="hidden" th:value="${event.id}" name="eventId">
                <input type="submit" value="Edit" class="btn btn-info">
            </form>
        </td>
        <td>
            <form method="post" th:action="@{/events/deleteEvent}">
                <input type="hidden" th:value="${event.id}" name="eventId">
                <input type="submit" value="Delete" class="btn btn-danger">
            </form>
        </td>
    </tr>
</table>
</body>
</html>