<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body class="container">
<nav th:replace="~{fragments :: navBar}"></nav>
<table class="table table-striped">
    <thead>
    <tr th:unless="${events} and ${events.size()}">
        <th>No events to display! Add an event through this <a href="events/create">form</a></th>
    </tr>
    <tr th:if="${deletedEvents} and ${deletedEvents.size()}">
        <th><span th:text="${deletedEvents.size() + ' Deleted events may be restored '}"></span><a
                href="events/restore">here</a></th>
        <!--        <th><a href="events/restore">here</a></th>-->
    </tr>
    <tr th:if="${events} and ${events.size()}">

        <!--        <th>Date</th>-->
        <th>Name</th>
        <th>Description</th>
        <!--        <th>Location</th>-->
        <!--        <th>Event Type</th>-->
        <th>Contact Email</th>
        <th>Category</th>
        <!--        <th>Registration Required</th>-->
        <!--        <th>Number of Attendees</th>-->
        <th></th>
        <th></th>
        <!--        <th>Color for Outfits</th>-->
        <th>Event ID</th>
    </tr>
    </thead>

    <tr th:each="event : ${events}">
        <!--        <td th:text="${event.date}">Event Date</td>-->
        <td><a th:href="'/events/detail?eventId=' + ${event.id}" th:text="${event.name}">Event name</a></td>
        <td th:text="${event.eventDetails.info}">Event description</td>
        <!--        <td th:text="${event.location}">Event location</td>-->
        <!--        <td th:text="${event.type.displayName}">Event Type</td>-->
        <td th:text="${event.eventDetails.email}">Contact email</td>
        <td th:text="${event.eventCategory}">Category</td>
        <!--        <td th:text="${event.mustRegister}">Must Register</td>-->
        <!--        <td th:text="${event.numOfAttendees}">Number of Attendees</td>-->
        <td>
            <form method="get" th:action="@{/events/edit/{id}(id=${event.id})}">
                <input type="hidden" th:value="${event.id}" name="eventId">
                <input type="submit" value="Edit" class="btn btn-info">
            </form>
        </td>
        <td>
            <form method="post" th:action="@{/events/deleteEvent}">
                <input type="hidden" th:value="${event.id}" name="eventId">
                <input type="submit" value="Delete" class="btn btn-danger">
            </form>
        </td>
        <!--        <td th:style="${'background-color: ' + event.color + ';'}"></td>-->
        <td th:text="${event.id}">Event ID</td>
    </tr>
</table>
</body>
</html>